.homepage{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.row1, .footer{
    background-color: #1f2937;
    flex: 1.5 0 auto;
}

.row2{
    flex: 1.2 0 auto;
}

.row3{
    background-color: #E5E7EB;
    flex: 1.2 0 auto;
}

.row4{
    flex: 1.0 0 auto;
}

.footer{
    flex: 0.2 0 auto;
}

.imgtext{
    font-family: 'Times New Roman', Times, serif;
}

.hero{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.headerlinks{
    color: #e5e7eb;
    font-size: 18px;
}

.header{
    color: #F9FAF8;
    font-size: 24px
}

.signup{
    color: #3882f6;
}

.row2header{
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.row4line{
    background-color: #3882f6;
}

.row3quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}
