.homepage{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.row1 .footer{
    background-color: #1f2937;
    flex: 1.5 0 auto;
}
.row2{
    flex: 1.2 0 auto;
}
.row3{
    background-color: #E5E7EB;
    flex: 1.2 0 auto;
}
.row4{
    flex: 1.0 0 auto;
}
.footer{
    flex: 0.2 0 auto;
    }
.imgtext{
    font-family: 'Times New Roman', Times, serif;
}